<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript" src="angular.js"></script>
    <style type="text/css">
        body {
            padding-top: 15%;
        }
        button {
            width: 30%;
            height: 70px;
            background-color: #FF807B;
            color: #fff;
            border-radius: 0px;
            border: none;
            font-size: 35px;
            display: block;
            margin: 10px;
            margin-left: 35%;
            outline: none;
        }
    </style>
</head>
<body ng-controller="myCtrl">

<button ng-click="showTop()">Top</button>
<button ng-click="showBottom()">Bottom</button>

<script type="text/javascript" src="ng-toast.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>